<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
<center>
    <header>
        <h1></h1>
    </header>

    


        <h2>International Space Station - ISS</h2>
    <br>

    <center> <img src="static/images/iss.jpg" Width="200"> </center>
    
        <div> 
        <b> Iss location : </b> latitude {{lat}} , longitude {{lon}}
        </div>
    <br>
        <div> 
        <b> Distance from Cambrian to ISS: </b> {{distance}} km
        </div>
    <br>
        <div> 
        <b> Weather Report: </b> Temperature: {{temp_c}} degrees, Description:  {{description}}
        </div>
    <br>
    <div> 
    <b> The ISS is currently flying over: </b> {{location}} 
    </div>
    <br>
      <b> Flag: </b>  {{flag}} 
          </div>
    </center>
         

    

    
</body>
</html>
